* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #080d18;
    color: #f8fafc;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header/Nav */
header {
    border-bottom: 1px solid #1e293b;
    background: rgba(8, 13, 24, 0.95);
}

.navbar {
    max-width: 1200px;
    margin: auto;

    min-height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.logo span {
    color: #22d3ee;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    color: #94a3b8;
    transition: 0.25s;
}

.nav-links a:hover,
.nav-links .active {
    color: #22d3ee;
}

/* Hero banner */
.hero {
    max-width: 1200px;
    margin: auto;

    min-height: 85vh;

    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;

    gap: 80px;

    padding: 80px 30px;
}

.small-title {
    color: #22d3ee;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: clamp(4rem, 9vw, 7rem);
    line-height: 1;
    margin-bottom: 20px;
}

.hero h2 {
    color: #cbd5e1;
    font-size: 1.7rem;
    margin-bottom: 25px;
}

.hero h2 span {
    color: #22d3ee;
}

.hero-text {
    max-width: 650px;
    color: #94a3b8;
    font-size: 1.05rem;
    margin-bottom: 35px;
}