* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #080d18;
    color: #f8fafc;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header/Nav */

header {
    border-bottom: 1px solid #1e293b;
    background: rgba(8, 13, 24, 0.95);
}

.navbar {
    max-width: 1200px;
    margin: auto;

    min-height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.logo span {
    color: #22d3ee;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    color: #94a3b8;
    transition: 0.25s;
}

.nav-links a:hover,
.nav-links .active {
    color: #22d3ee;
}

